<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Chain</title>
    <link rel="stylesheet" href=""/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <img src="/public/img/onlinelogomaker-070122-0030-8061.png" alt="">
        </h1>
      </header>
      <main>
        {{{body}}}
      </main>

      {{!-- Stays The Same Each Page --}}
      <footer>
      </footer>
    </div>

  </body>

</html>