<h1>Edit Post</h1>
<a class="btn btn-primary" href="/">All Post</a>
<form action="/update/{{post.id}}" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input
      type="text"
      class="form-control"
      name="title"
      value="{{post.title}}"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <input
      type="text"
      class="form-control"
      name="description"
      value="{{post.description}}"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Markdown</label>
    <input
      type="text"
      class="form-control"
      name="markdown"
      value="{{post.markdown}}"
    />
  </div>
  <button type="submit" class="btn btn-primary">Update Post</button>
</form>