<div class="card mt-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <h6 class="card-title mb-2 text-muted">{{post.description}}</h6>
    <p class="card-text">{{post.markdown}}</p>
    <a href="/" class="btn btn-primary">All Post</a>
  </div>
</div>